{
  "pid": "bw.resource.jdbc.factory",
  "properties": {
    "factory.pid": {
      "name": "factory.pid",
      "value": "bw.resource.jdbc",
      "type": "java.lang.String"
    },
    "factory.pidList": {
      "name": "factory.pidList",
      "value": [{
        "value": "bw.resource.jdbc.21d115ce-6e7f-423e-8226-62d0ae61c802",
        "type": "java.lang.String"
      }],
      "type": "[Ljava.lang.String;"
    }
  }
}