{
  "pid": "com.tibco.bw.stat.appnode.factory",
  "properties": {
    "factory.pid": {
      "name": "factory.pid",
      "value": "com.tibco.bw.stat.appnode",
      "type": "java.lang.String"
    },
    "factory.pidList": {
      "name": "factory.pidList",
      "value": [{
        "value": "com.tibco.bw.stat.appnode.dc42218c-eb13-403e-9e8a-b207a0d08bdd",
        "type": "java.lang.String"
      }],
      "type": "[Ljava.lang.String;"
    }
  }
}